.newsdetail{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* background: cornflowerblue; */
    box-shadow: 0 1px 1px 1px #fff;
    margin: 2rem;
    padding: .8rem;
    border-radius: 10px;
    background: white;
    color: #64958f;
    
}


.newsdetail__image {
    /* width: 400px; */
}
.newsdetail__image img{
    width: 100%;
    height: 40vh;
    border-radius: 4px;

}


.newsdetail__title{
    color: #64958f;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: .2rem 0;
    display: flex;
    justify-content: space-between;
}
.newsdetail__description{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}