

:root {
    --light-orange: #FBE8A6;
    --dark-orange: #F4976C;
    --light-blue: #303C6C;
    --lighter-blue: #B4DFE5;
    --lightest-blue: #D2FDFF;   
    --solarin-blue: #116466;

    --darkest-color: #012d28;
    --second-color: #049a78;
    --third-color: #047364;
    --fourth-color: #012d28;
    --fifth-color: #012d28;
    --sixth-color: #05D48E;
    --seventh-color: #D0FFE2;
}


.app{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    background: var(--light-orange);
    flex: 1; */
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    color: #faf3dd;
}